/*------------------------------------comienzo reseteo------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*------------------------------------fin reseteo------------------------------------*/


/*------------------------------------comienzo de las variables------------------------------------*/

$colores: (
    ColorRojo : #A90000,
    ColorRojoClaro: #e76464,
    ColorGris : #D9D9D9,
);

/*------------------------------------fin de las variables------------------------------------*/









/*------------------------------------Comienzo del extend------------------------------------*/

.titulos {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

/*------------------------------------Fin del extend------------------------------------*/







/*------------------------------------Comienzo del mixins------------------------------------*/

@mixin tamaño ($altura, $ancho) {
    height: $altura ;
    width: $ancho ;
}

/*------------------------------------Fin del mixins------------------------------------*/




/*------------------------------------comienzo body------------------------------------*/



.container-fluid {
    background-color: map-get($colores , ColorGris );
}





.border-img {
    border-radius: 10px;
}





.heading-logo {
    background-color: white;

    .heading {
    display: none;
    }

}





.nav {
    background-color: map-get($colores , ColorRojo );
    height: 40px;

    .menu {
        list-style: none;
        overflow-x: scroll;
        white-space: nowrap;
        margin: 0;
        padding: 0;

            &::-webkit-scrollbar {
                display: none ;
            }

                li a {
                    color: white;
                    text-decoration: none;
                    font-family: 'Fira Sans Extra Condensed', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    margin: 10px;
                }
            }

}



/* REVISAR SI ALGO FALLA*/

.section-principal {
    border-bottom: 1px solid black;

        .noticia-principal {
            border: 3px solid map-get($colores , ColorRojoClaro );
            border-radius: 9px;
        
            .titulo-principal {
                @extend .titulos;
                font-size: 25px;
                font-style: none;
                color: black;
            }
        }

        .noticia {
            text-decoration: none;
            color: black;
            border: 1px solid map-get($colores , ColorRojoClaro ); ;
            border-radius: 7px;
        
            h2 {
                @extend .titulos;
                font-size: 18px;
            }
        }

} 





.section {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

            .noticias-section {

                        .titulo-section {
                        font-family: 'Abril Fatface', cursive;
                        font-weight: 100;
                        font-size: 30px;
                        text-decoration: none;
                    }

                    .ver-todo {
                        color: black;
                        font-family: 'Lato', sans-serif;
                        text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                                color: black;
                            }
                    }
            }

            .noticia-section {
            width: 50%;

        }

            .titulo-noticia-page {
                text-decoration: none;
            }

            .titulo-noticia-page h4 {
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 14px;
                color: black;

                    &:hover {
                        text-decoration: underline;
                        color: black;
                    }
            }
}




footer {
    background-color:map-get($colores , ColorRojo);



        .nosotros {
            list-style: none;
            margin: 0;
            padding: 0;

                li {
                    padding: 0;
                    margin: 0;
                
                    a {
                        text-decoration: none;
                    
                            .nosotros span {
                                font-size: 12px;
                                color: white;
                            }

                            .text-quienes-somos {
                                white-space: nowrap;
                            }
                    }
                }

            }

}



.redes-sociales {
    list-style: none;
    margin: 0;
    padding: 0; 
    opacity: 0.6;   
}


aside a {
    @include tamaño (150px,100%);
}




.div-titulo {
    border-bottom: 3px solid black;

            .titulo-page-noticias {
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            font-weight: 900;
            font-size: 35px;
        }
}






.article-noticia {
    border-bottom: 1px solid black;


    .noticia-en-page-titulo {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 28px;
        color: black;
        text-decoration: none;
    
    
                &:hover {
                    text-decoration: underline;
                    color: black;
                }
    }
    
    
    .noticia-en-page-info {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
    }


}



.contactos {
    list-style: none;
    padding: 0;


    .item-contacto {
        @include tamaño (40px,80%);
        border:map-get($colores , ColorRojo ) 1px solid;
        border-radius: 10px;
        background-color: white;
    
    
        p {
            margin: 0;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
        }
    }


}





.como-surgio {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 26px;
}


.info-como-surgio {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.quienes-trabajamos {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 500;
    font-size: 22px;
}


.descripcion-persona {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
}

.oficio-persona {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 16px;
}




.parrafo-noticia p {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 15px;
}



